{% extends "admin/cms/page/plugin/change_form.html" %}
{% load staticfiles %}

{% block field_sets %}
    {{ block.super }}
    <div id="epiceditor"></div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'djangocms_markdown/js/epiceditor.min.js' %}"></script>

    <script>
        //$(function () {
            // Hide the native fieldset
            $('#markdown_form').find('fieldset').hide();

            var opts = {
                basePath: '{% static 'djangocms_markdown' %}',
                clientSideStorage: false,
                textarea: 'id_body', // Sync with #id_body
                focusOnLoad: true,
                autogrow: {
                    // One has to manually adjust the height a bit
                    minHeight: window.parent.CMS.$('.cms_modal-frame').height() - 20,
                    maxHeight: window.parent.CMS.$('.cms_modal-frame').height() - 20
                }
            };

            var editor = new EpicEditor(opts).load();

            // Get caret position: editor.editorIframeDocument.getSelection().focusOffset
            // Insert data: editor.editorIframeDocument.getSelection().focusNode.insertData()
        //});
    </script>
{% endblock %}